 *{   
 	margin:0;
 padding:0; 
}

 
p{ color:white;
	font-weight:bolder;
	font-size:100px;
	text-align:center;

}

	div{
		width:100%;
	height:100vh;
	 background-image:url("tcc.jpg");
	 background-size:100%;
	 background-repeat: no-repeat;
	
	 background-attachment:fixed;
}
a{
	width:200%;
	height:100%;
	background-color:white;

	font-size:100px;
	color:black;
margin-left:400px;
margin-top:800px;
}